<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/errors") %>
        <h1>Admin Approoval</h1>
        <div class="auth-form">
            <form method="post" action="/adminPassword">
                <div class="auth-input">
                    <label for="admin-password">Admin Password:</label>
                    <input name="admin-password" id="admin-password" />
                </div>
                <button>Submit</button>
            </form>
        </div>
    </body>
</html>
